<%-include('../layouts/adminHeader')%>
<%-include('../layouts/adminSidebar')%>

<div class="pc-container" style="background-color: rgb(234, 230, 230);">
    <div class="pcoded-content">
<% if(errmsg){ %>
    <p style="color: rgb(128, 0, 0); background-color: #ffffff;">
        <%= errmsg %>
    </p>
    <% } %>
<form class="pl-3 pr-3" id="categoryForm" action="/admin/addCategorys" method="post">
    <div class="form-group">
        <label for="username">Category Name</label>
        <div class="mt-2" id="addCategoryError" style="display: none;"></div>
        <input class="form-control" type="text" name="categName" placeholder="Enter Category Name">

        <label for="username">Status</label>
            <select class="custom-select mr-sm-2 mt-2" name="changes">
                <option value="LISTED">LISTED</option>
                <option value="UNLISTED">UNLISTED</option>
            </select>
        
        <div class="invalid-feedback" id="categoryNameError">
            Category Name should not contain blank spaces.
        </div>
    
            
    </div>

    <div class="form-group text-center">
        <button class="btn btn-primary" type="submit" id="submitBtn">Add+</button>
    </div>

</form>
  

<%-include('../layouts/adminFooter')%>
