<script src="/admin/dist/assets/js/vendor-all.min.js"></script>
<script src="/admin/dist/assets/js/plugins/bootstrap.min.js"></script>
<script src="/admin/dist/assets/js/plugins/feather.min.js"></script>
<script src="/admin/dist/assets/js/pcoded.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> -->
<!-- <script src="/admin/assets/js/plugins/clipboard.min.js"></script> -->
<!-- <script src="/admin/assets/js/uikit.min.js"></script> -->

<!-- Apex Chart -->
<script src="/admin/dist/assets/js/plugins/apexcharts.min.js"></script>


<!-- custom-chart js -->
<script src="/admin/dist/assets/js/pages/dashboard-sale.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
</body>

</html>